<!DOCTYPE html>
<html lang="en">
<head>
        <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#listbutton").click(function(){
    $.ajax({
        url: "users/mmm/", 
        success: function(name){
        if(name){
          document.getElementById("lili").innerHTML=name
        }
      }  
    });
  });
});
</script>
</head>
<body>
    <h3 id='lv'>ListView</h3>
    <p id='lili' ></p>
<button id='listbutton'>click</button>
<br><br><br>

</body>
</html>