<!DOCTYPE html>
<html>
<title>My ATM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  </head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<body>

<div style="background-color:#250ddb;"class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  <a style="background-color:#04f7f3;" href="{% url 'home' %}" class="w3-bar-item w3-button" id="h1"><b style="">Home</b></a>
    <a style="background-color:#04f7f3;"href="{% url 'profileupdate' %}" class="w3-bar-item w3-button" id="a1"><b >Update Profile</b></a>
  <a style="background-color:#04f7f3;"href="{% url 'home' %}" class="w3-bar-item w3-button" id="a2" style=""><b>DEPOSIT</b></a>
  <a style="background-color:#04f7f3;"href="{% url 'home' %}" class="w3-bar-item w3-button" id="a3"><b>CHECK BALANCE</b></a>
    <a style="background-color:#04f7f3;"href="{% url 'home' %}" class="w3-bar-item w3-button" id="a4"><b>WITHDRAW</b></a>
    <a style="background-color:#04f7f3;"href="{% url 'display' %}" class="w3-bar-item w3-button"><b>VIEW DETAILS</b></a>
  <a style="background-color:#04f7f3;"href="{% url 'logout' %}" class="w3-bar-item w3-button" id="lout"><b>LOGOUT</b></a>
    <a style="background-color:#04f7f3;"href="{% url 'home' %}" class="w3-bar-item w3-button" id="a6"><b>Upload Photo</b></a>
    <a style="background-color:#04f7f3;"href="{% url 'home' %}" class="w3-bar-item w3-button" id="a7"><b>Complaints</b></a>
</div>

<div class="w3-main" style="margin-left:200px;">
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container" style="background-color:#961399;"><br><br><br>
    <h1>Welcome:{{username}}</h1>
  </div>
</div>

<div class="w3-container" id="w8" style="padding:100px;" margin-top:100px;">
  {% block userblock %}
  
    {% endblock %}
</div>
<script>


$(document).ready(

function(){
});
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
